<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<th:block th:replace="~{fragment :: meta}"></th:block>
<th:block th:replace="~{fragment :: styles}"></th:block>

<title>mimpaku Travel</title>
</head>

<body>

	<div class="mimpaku-wrapper">

		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<!--======== 前略 ========-->

		<main>

			<div class="container pt-4 pb-5 mimpaku-container">

				<!-- ログイン通知 -->
				<div th:if="${param.loggedIn}" class="alert alert-info">

					ログインしました。</div>

				<!-- ログアウト通知 -->
				<div th:if="${param.loggedOut}" class="alert alert-info">

					ログアウトしました。</div>

				<!-- 成功メッセージ -->
				<div th:if="${successMessage}" class="alert alert-info">

					<span th:text="${successMessage}"></span>

				</div>

				<!-- ========================= -->
				<!-- 検索フォーム -->
				<!-- ========================= -->
				<div class="d-flex justify-content-center">

					<form method="get" th:action="@{/houses}"
						class="mb-5 mimpaku-search-form">

						<div class="input-group">

							<input type="text" class="form-control" name="keyword"
								th:value="${keyword}" placeholder="民宿名・目的地">

							<button type="submit"
								class="btn text-white shadow-sm mimpaku-btn">検索</button>

						</div>

					</form>

				</div>

				<!-- ========================= -->
				<!-- 新着民宿 -->
				<!-- ========================= -->
				<h2 class="text-center mb-3">新着</h2>

				<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">

					<div class="col" th:each="newHouse : ${newHouses}">

						<a th:href="@{/houses/__${newHouse.getId()}__}"
							class="link-dark mimpaku-card-link">

							<div class="card h-100">

								<!-- 民宿画像 -->
								<img th:if="${newHouse.getImageName()}"
									th:src="@{/storage/__${newHouse.getImageName()}__}"
									class="card-img-top mimpaku-vertical-card-image" alt="民宿画像">

								<img th:unless="${newHouse.getImageName()}"
									th:src="@{/images/noImage.png}"
									class="card-img-top mimpaku-vertical-card-image" alt="NO IMAGE">

								<div class="card-body">

									<!-- 民宿名 -->
									<h3 class="card-title" th:text="${newHouse.getName()}"></h3>

									<!-- 住所 -->
									<p class="card-text mb-1">

										<small class="text-muted" th:text="${newHouse.getAddress()}">
										</small>

									</p>

									<!-- 宿泊料金 -->
									<p class="card-text">

										<span
											th:text="${#numbers.formatInteger(newHouse.getPrice(), 1, 'COMMA') + '円 / 泊'}">
										</span>

									</p>

								</div>

							</div>

						</a>

					</div>

				</div>

				<!-- ========================= -->
				<!-- エリア検索 -->
				<!-- ========================= -->
				<div class="row justify-content-center">

					<div class="col-xl-5 col-lg-6 col-md-8">

						<h2 class="text-center mb-3">エリアから探す</h2>

						<table class="table">

							<tbody>

								<!-- 北海道 -->
								<tr>

									<th>北海道</th>

									<td><a th:href="@{/houses(area='北海道')}"> 北海道 </a></td>

								</tr>

								<!-- 東北 -->
								<tr>

									<th>東北</th>

									<td><a th:href="@{/houses(area='青森県')}" class="me-2">
											青森県 </a> <a th:href="@{/houses(area='岩手県')}" class="me-2">
											岩手県 </a> <a th:href="@{/houses(area='宮城県')}" class="me-2">
											宮城県 </a> <a th:href="@{/houses(area='秋田県')}" class="me-2">
											秋田県 </a> <a th:href="@{/houses(area='山形県')}" class="me-2">
											山形県 </a> <a th:href="@{/houses(area='福島県')}"> 福島県 </a></td>

								</tr>

								<!-- 北関東 -->
								<tr>

									<th>北関東</th>

									<td><a th:href="@{/houses(area='茨城県')}" class="me-2">
											茨城県 </a> <a th:href="@{/houses(area='栃木県')}" class="me-2">
											栃木県 </a> <a th:href="@{/houses(area='群馬県')}"> 群馬県 </a></td>

								</tr>

								<!-- 首都圏 -->
								<tr>

									<th>首都圏</th>

									<td><a th:href="@{/houses(area='埼玉県')}" class="me-2">
											埼玉県 </a> <a th:href="@{/houses(area='千葉県')}" class="me-2">
											千葉県 </a> <a th:href="@{/houses(area='東京都')}" class="me-2">
											東京都 </a> <a th:href="@{/houses(area='神奈川県')}"> 神奈川県 </a></td>

								</tr>

								<!-- 近畿 -->
								<tr>

									<th>近畿</th>

									<td><a th:href="@{/houses(area='滋賀県')}" class="me-2">
											滋賀県 </a> <a th:href="@{/houses(area='京都府')}" class="me-2">
											京都府 </a> <a th:href="@{/houses(area='大阪府')}" class="me-2">
											大阪府 </a> <a th:href="@{/houses(area='兵庫県')}" class="me-2">
											兵庫県 </a> <a th:href="@{/houses(area='奈良県')}" class="me-2">
											奈良県 </a> <a th:href="@{/houses(area='和歌山県')}"> 和歌山県 </a></td>

								</tr>

								<!-- 九州 -->
								<tr>

									<th>九州</th>

									<td><a th:href="@{/houses(area='福岡県')}" class="me-2">
											福岡県 </a> <a th:href="@{/houses(area='佐賀県')}" class="me-2">
											佐賀県 </a> <a th:href="@{/houses(area='長崎県')}" class="me-2">
											長崎県 </a> <a th:href="@{/houses(area='熊本県')}" class="me-2">
											熊本県 </a> <a th:href="@{/houses(area='大分県')}" class="me-2">
											大分県 </a> <a th:href="@{/houses(area='宮崎県')}" class="me-2">
											宮崎県 </a> <a th:href="@{/houses(area='鹿児島県')}"> 鹿児島県 </a></td>

								</tr>

								<!-- 沖縄 -->
								<tr>

									<th>沖縄</th>

									<td><a th:href="@{/houses(area='沖縄県')}"> 沖縄県 </a></td>

								</tr>

							</tbody>

						</table>

					</div>

				</div>

			</div>

		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>

	</div>

	<!-- JavaScript -->
	<div th:replace="~{fragment :: scripts}"></div>

</body>

</html>