html {
	font-size: 14px;
}

body {
	height: 100%;
	margin: 0;
}

h1 {
	font-size: 1.5rem;
}

a {
	color: #5196a6;
	text-decoration: none !important;
}

a:hover {
	color: #407784;
}

/* レイアウト本体 */
.mimpaku-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* メインを伸ばす */
main {
	flex: 1;
}

/* フッター */
footer {
	width: 100%;
	height: 60px;
	background-color: #f2f0eb;
}

/* ナビ */
.mimpaku-navbar {
	min-height: 60px;
}

.mimpaku-logo {
	height: 30px;
}

/* ボタン */
.moattravel-btn {
	background-color: #5196a6 !important;
	color: #fff !important;
	border: none !important;
	transition: 0.2s;
}

.moattravel-btn:hover {
	background-color: #407784 !important;
}

/* ページネーションリンク */
.mimpaku-page-link {
	color: #5196a6;
}

.mimpaku-page-link:hover {
	color: #407784;
}

/* アクティブページ */
.mimpaku-active {
	background-color: #5196a6 !important;
	border-color: #5196a6 !important;
}

/* 改行文字で行を折り返す */
.mimpaku-pre-wrap {
	white-space: pre-wrap;
}

/* コンテナ */
@media screen and (min-width: 1400px) {
	.mimpaku-container {
		max-width: 1200px;
	}
}